<% if user_signed_in? %>

  <%= render 'layouts/task_form'  %>
  
  <div class="row mb-2">
    <div class="col-6 offset-3">
    <%= render partial: 'category', layout: "categories_layout", collection: @categories  %>
    </div>
  </div>
<% end %>
