<div class="container mb-5 text-center">
  <%=link_to "Recevoir un Email", emails_path, remote: true, method: :post, :class => "btn btn-primary"%>
</div>
<div class="row px-3">
  <div id="email-list" class="col-5">
    <h2 class="offset-md-1">Liste des Emails</h2><hr>
    <%@emails.each do |email|%>
      <%= render partial: "email_object", locals: {email: email}%>
    <%end%>
  </div>
  <div class="col">
    <h2 class="offset-md-1">Email sélectionné</h2>
    <div class="p-3" id="email-display"></div>
  </div>
</div>
</div>
